* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A202C;
}

.container {
    main {
        width: 95%;
        margin: 0 auto;
        display: grid;
        grid-template-areas:
            'left totalPoints main main right right'
            'left footer footer footer footer footer';
        gap: 10px;

        .leftMainDiv {
            grid-area: left;

        }

        .totalPoints {
            grid-area: totalPoints;
        }
    }
}